body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
.nav-button {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin-right: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
